
/*configuraciones globales*/
.fas{
    font-size: 30px;
}
*{
    font-family: 'Roboto';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
html{

    background-color: #fff;
    color: gray;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

section{
    padding: 80px 0;
}
/*encabezados*/
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: gray;
    font-size: 260%;
    word-spacing: 6px;
    letter-spacing: 2px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2::after{
    display: block;
    height: 2px;
    background-color: rgba(0, 137, 250, 0.87);
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*nav*/

/*home-container*/
header{
    background-image: linear-gradient(rgba(0,0, 0, 0.705),rgba(0,0, 0, 0.705)),url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    height: 200px;
    width: auto;
    float: left;
    margin-left: 90px;
}
.nav{
    float: right;
    list-style: none;
    margin-top: 60px;
    margin-right: 70px;
}
.nav li{
    display: inline-block;
    margin-left: 40px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    letter-spacing: 1px;
    word-spacing: 3px;
    transition: border-bottom 0.5s;
}
.nav li a:hover{
    border-bottom: 2px solid rgba(0, 137, 250, 0.87);
}
.home-container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 100px;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(-50%,-50%);
}
.btn,input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 2px solid  rgba(0, 137, 250, 0.87);
    color: white;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn-more:hover,input[type=submit]:hover{
    background-color: gray;
    color: black;
}
.btn-contact:hover,input[type=submit]{
    background-color: rgba(0, 137, 250, 0.87) ;
}
/*section-description*/
.text-center{
    line-height: 145%;
    width: 85%;
    margin-left: 15%;
}
/* Section-Plans*/
.section-plans{
    background-color: rgb(197, 197, 197);
}
.plan-content{
    background-color:white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5px;
    box-shadow: 0 2px 2px rgba(0, 137, 250, 0.87); 
    text-align: center;
    color: black;
}
.plan-content div{
    padding: 15px;
    border-bottom: 2px solid rgb(197, 197, 197) ;
}
.btn-Ingresa{
    color: black;

}
.btn-Ingresa:hover{
    background-color: rgba(0, 137, 250, 0.87) ;
    color: white;

}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: rgba(0, 137, 250, 0.87);
}
.plan-content ul{
    list-style: none;
}
.plan-content ul{
    padding: 5px;
    color: black;
}
.plan-price-discount{
    color: black;
}
/*section-image*/
.section-image{
    list-style: none;
    width: 100%;
}
.projects-image li{
    display: block;
    float: left;
    width: 25%;
}
.photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
.photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s,opacity 0.5s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s,opacity 0.5s;

}
.photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border:  1px solid rgba(0, 137, 250, 0.87);
}
.textarea{
    height: 100%;
}
input[type-checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}

/*-image footer-*/
.section-img-footer{
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/assets/images/background.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/assets/images/background.jpg);
    background-size: cover;
    color: gray;
    background-attachment: fixed;
}
footer{
    background-color: black;
    padding: 30px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.footer-nav li a,
.social-links li,
.social-links li a{

    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    border: 0;
    color: rgb(197, 197, 197);
    -webkit-transition: color 0.5s;
    transition: 0.5s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: rgb(197, 197, 197);
}
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}
.fa-facebook-square{
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-twitter:hover{
 color:#00aced ;    
}
.fa-google-plus-g:hover{
    color: #dd4b39;
}
.fa-instagram:hover{
    color: #517fa4;
}
footer p{
    color: rgb(197, 197, 197);
    text-align: center;
    margin-top: 20px;
}
/*-media queries-*/
/*-telefonos peqieños de 0 a 480px -*/
@media only screen and (max-width: 480px){
    section{
        padding:25px 0;
    }
.contact-form{
    width: 100px;
} 
header{
    height: 110vh;
}
}
/*-tablet peqieños de 481 a 4767px -*/
@media only screen and (max-width: 767px){
boby{
    font-size: 16px;
}
.section{
    padding: 30px 0;
}
.row,
.home-container{
    padding: 0 4%;
}
.col{
    width: 100%;
    margin: 0 0 4% 0;
}
h1{
    font-size: 180%;
}
h2{
font-size: 150%;
}
.text-center{
    width: 100%;
    margin-left: 0%;
}
}
/*- de 768 a 1023px -*/
@media only screen and (max-width: 1023px){
boby{
    font-size: 18px;
}
.section{
    padding: 60px 0;

}
.text-center{
    width: 80%;
    margin-left: 10%;
}
.plan-content{
    width: 100%;
    margin-left: 0%;
}
.plan-price{
    font-size: 250%;
}
.contact-form{
    width: 80%;
}
}
/*- de 1023 a 1200px -*/
@media only screen and  (max-width: 1200px){
.home-container{
    width: 100%;
    padding: 0 2%;
}
.row{
    padding: 0 2%;
}

}