.Datos{ 

   float: left;
   width: 28%
}


.Descripcion { 

    float: right;
    width: 28%
}

.libro { 
    
    
        text-align :center;
        column-count: 3;
        column-gap: 100px;
        column-rule: 5px outset white;
}
